/* 
white chess king	♔	U+2654	&#9812;	&#x2654;
white chess queen	♕	U+2655	&#9813;	&#x2655;
white chess rook	♖	U+2656	&#9814;	&#x2656;
white chess bishop	♗	U+2657	&#9815;	&#x2657;
white chess knight	♘	U+2658	&#9816;	&#x2658;
white chess pawn	♙	U+2659	&#9817;	&#x2659;
black chess king	♚	U+265A	&#9818;	&#x265A;
black chess queen	♛	U+265B	&#9819;	&#x265B;
black chess rook	♜	U+265C	&#9820;	&#x265C;
black chess bishop	♝	U+265D	&#9821;	&#x265D;
black chess knight	♞	U+265E	&#9822;	&#x265E;
black chess pawn	♟︎	U+265F	&#9823;	&#x265F; 
*/

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chessboard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 700px;
    margin: 0 auto;
}


.row {
    display: flex;
}

.row input {
    font-size: 2em;
}

.square {
    width: 65px;
    height: 65px;
    flex-basis: calc(100% / 8);
    box-sizing: border-box;
}

.black {
    background-color: rgb(119, 149, 86);
}

.white {
    background-color: rgb(238, 238, 210);
}
