/* 

// FONT \\
Main Font: font-family: 'Fira Sans', sans-serif;

// COLORS \\
Light Green:    rgb(50, 173, 83)
Dark Green:     rgb(26, 156, 74)
Darker Green:   rgb(22, 138, 65)

Dark grey = rgb(28, 28, 28)

*/


body{
    background-color: rgb(60, 60, 60);
    margin: 0;
}

header{
    background-color: rgb(50, 173, 83);
}

h1{
    padding: 0.5em 0 0.5em 0;
    color: white;
    text-align: center;
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
}

main{
    margin: 5em 1em 0 4em;
}

label{
    color: white;
    font-family: 'Fira Sans', sans-serif;
    margin-top: 2em;
    text-align: center;
}

input{
    padding: 0.2em;
    border: 2px solid rgb(50, 173, 83);
    border-radius: 10px;
    font-family: 'Fira Sans', sans-serif;
    background-color: rgb(54, 54, 54);
    color: white;
    text-align: center;
}

input[type="submit"]:hover{
    border-color: white;
    transition-duration: 0.15s;
}

select{
    padding: 0.2em;
    border: 2px solid rgb(50, 173, 83);
    border-radius: 10px;
    font-family: 'Fira Sans', sans-serif;
    background-color: rgb(54, 54, 54);
    color: white;
    text-align: center;
}

nav{
    display: grid;
    grid-template-columns: repeat(auto-fit, 10rem);
}

button{
    background-color: rgb(26, 156, 74);
    font-family: 'Fira Sans', sans-serif;
    color: white;
    border: 0;
    padding: 1em;
    width: 100%;
}

button:hover{
    background-color:rgb(22, 138, 65);
    transition-duration: 0.15s;
}

/* CALCULATOR */

datalist{
    border: 2px solid red;
}

/* DAYS LIVED */

.DaysLivedp{
    font-family: 'Fira Sans', sans-serif;
    color: white;
    text-align: center;
}
